<p>My tasks</p>

<%= render :partial=>"task_form"%>
<div id="projects">
	<% @incomplete_tasks.group_by(&:project).each do |project, tasks| %>
		<%= render 'project', :project=>project, :tasks=>tasks %>
	<% end %>
</div>

<div class="group">
	<h2>Completed tasks</h2>
	<ul id="completed_tasks">
		<%= render :partial => 'task', :collection=>@completed_tasks, :as=>"task" %>
	</ul>
</div>

<%= drop_receiving_element("completed_tasks", :url=>{:action=>"finish"})%>
